/* @import url("https://fonts.googleapis.com/css2?family=Antic&family=Cambo&family=Inria+Serif:wght@300&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(237, 128, 128, 0.38);
  position: fixed;
  top: 1rem;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar ul {
  display: flex;
  margin: 2rem 0;
  font-weight: bold;
  list-style: none;
  font-size: 2.3rem;
}

.navbar ul li a {
  padding: 2rem;
  transition: all 0.5s ease;
  text-decoration: none;
  color: rgb(100, 154, 162);
}

.navbar ul li a:hover {
  color: rgb(218, 33, 33);
  box-shadow: 0 0 50px white;
}

/* MAIN MY NAME */

#iam {
  display: flex;
  flex-direction: column;
  background: url(../assets/teigan2.png) center;
  background-size: cover;
  width: 100%;
  height: 30vw;
  animation: hue 2s infinite alternate;
  filter: (2rem);
}

@keyframes hue {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(150deg);
  }
}

.name {
  margin: 0 auto;
  text-align: center;
  margin-top: 18rem;
  color: rgb(154, 27, 27);
  font-size: 2.8rem;
  padding: 2rem;
  background-image: linear-gradient(
    90deg,
    rgba(31, 28, 155, 0.633),
    rgba(34, 53, 200, 0.893)
  );
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #297fc9,
    25px 25px 0px 0px #468ce8, 7px 0px 7px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #3782c3,
    25px 25px 0px 0px #538bd3, 7px 0px 7px 5px rgba(43, 129, 176, 0);
}

.heading-1 {
  color: aliceblue;
  letter-spacing: 3px;
}

.heading-3 {
  color: aliceblue;
  padding: 2rem;
  letter-spacing: 3px;
}

/* MAIN  INTRO/IMG*/

.heading-about-me {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: rgba(41, 42, 52, 0.989);
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(128, 128, 128, 0.106);
  box-sizing: border-box;
  padding: 3rem;
  justify-content: center;
  /* margin-bottom: 5rem; */
}

.pic {
  display: flex;
}

.pic img {
  /* width: 40rem; */
  height: 25rem;
  box-shadow: -2px 2px 15px 3px rgba(138, 126, 126, 0.61);
  -webkit-box-shadow: -2px 2px 15px 3px rgba(138, 126, 126, 0.61);
  -moz-box-shadow: -2px 2px 15px 3px rgba(138, 126, 126, 0.61);
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 1rem 0rem 1rem 10rem;
  max-width: 80%;
}

.intro h2 {
  font-size: 2.2rem;
  margin-bottom: 1.3rem;
}

.heading {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: rgba(87, 82, 82, 0.989);
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}

/* Button */
.myButton {
  text-shadow: 0px 1px 0px;
  letter-spacing: 1px;
  font-size: 13px;
  text-decoration: none;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  width: 10rem;
  position: relative;
  left: 107rem;
  margin-top: 1.5rem;
}
.myButton:hover {
  background: linear-gradient(to bottom, #f1db9b8e 5%, #d1d4bdad 100%);
  background-color: #d3c6a1;
  color: #000000;
  border: 1px solid #00000054;
}

.my-name {
  letter-spacing: 2px;
  font-weight: bolder;
  color: rgba(177, 37, 37, 0.88);
}

.main-p {
  letter-spacing: 2px;
  font-size: 1.6rem;
}

/* MAIN-SKILLS */

.skills-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 60vh;
  background-color: rgba(128, 128, 128, 0.106);
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 1px -2px 25px -10px rgba(138, 126, 126, 0.45);
  -webkit-box-shadow: 1px -2px 25px -10px rgba(138, 126, 126, 0.45);
  -moz-box-shadow: 1px -2px 25px -10px rgba(138, 126, 126, 0.45);
}

.skills-icons-1,
.skills-icons-2 {
  display: flex;
}

.skills-icons-2 {
  position: relative;
  bottom: 8%;
}

.icon {
  display: flex;
  width: 20rem;
  height: 20rem;
  background-color: #c8c5c578;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -10px 11px 6px -5px rgb(0, 0, 0);
  box-shadow: 0px 10px 13px -7px #00000028,
    -10px 11px 6px -5px rgba(0, 0, 0, 0.59);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: space-around;
  border-radius: 12px;
  margin-left: 8rem;
  margin-top: 4rem;
}

/* Work */
.portfolio-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: rgba(128, 128, 128, 0.106);
  box-shadow: 1px -2px 25px -10px rgba(138, 126, 126, 0.45);
  -webkit-box-shadow: 1px -2px 25px -10px rgba(138, 126, 126, 0.45);
  -moz-box-shadow: 1px -2px 25px -10px rgba(138, 126, 126, 0.45);

  border-radius: 12px;
  width: 90%;
  height: 50vh;
  margin: 0 auto;
  /* padding: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem; */
}

.portfolio-1 img {
  width: 400px;

  border-radius: 15px;
  border: 3px solid white;
}

.portfolio-1 {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-github-square {
  color: #3c9bdf;
}

/* CONTACT */

.contact {
  width: 90%;
  height: 60vh;
  background-color: rgba(128, 128, 128, 0.106);
  box-shadow: 1px -2px 25px -10px rgba(138, 126, 126, 0.45);
  -webkit-box-shadow: 1px -2px 25px -10px rgba(138, 126, 126, 0.45);
  -moz-box-shadow: 1px -2px 25px -10px rgba(138, 126, 126, 0.45);
  margin: 0 auto;
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 5rem;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 30px 0;
  border: 0;
  background-color: rgba(17, 17, 17, 0.849);
  padding: 25px 40px;
  outline: none;
  color: #ddd;
  transition: 0.4s;
  font-size: 1.5rem;
}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #293644;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 13px;
  letter-spacing: 1px;
}

.contact-form-btn:hover {
  background-color: black;
  color: rgba(255, 0, 0, 0.678);
}

/* FOOTER */
footer {
  background-color: rgba(0, 0, 0, 0.883);
  color: rgba(98, 93, 93, 0.781);
  height: 12vh;
  text-align: center;
}

.fa-2x {
  color: rgba(218, 212, 212, 0.781);
  padding: 2rem 1.2rem;
}

.footer-copyright {
  font-size: 2rem;
}

/* Media Query */

/* PHONE */
@media (max-width: 480px) {
  .navbar ul {
    flex-direction: column;
  }

  #iam {
    animation: none;
    flex-direction: column;
  }
  .about {
    flex-direction: column;
    width: 100%;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 767px) @media (min-width: 769px) and;
